* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: 100vw 100vh;
  font-family: "Rubik", sans-serif;
  font-size: 0.75em;
  overflow-x: hidden;
  background-image: url(../images/bg/trans_digital_red.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (min-width: 320px) {
  body {
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 2em;
  }
}

header {
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed; /* relative */
  top: 0;
  z-index: 1;
}

.menu ul {
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 5vw;
  position: relative;
  z-index: 3;
}

.menu li {
  padding: 10px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  padding: 5px;
  color: #ffffffff;
  font-size: 0.7em;
}

.menu a:hover {
  text-decoration: underline;
  z-index: 5;
}

#logo {
  width: auto;
  height: 7vh;
  justify-self: flex-start;
  margin-left: 5px;
}

main {
  clear: both;
  display: flex;
  flex-direction: column;
}

#welcome {
  clear: both;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(
    129.49% 147.55% at 109.72% 223.94%,
    #e01f27 24.26%,
    rgba(0, 0, 0, 0.87) 100%
  );
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* #bgimage {
  width: 1089px;
  opacity: 0.5;
} */

#tituloWelcome {
  clear: both;
  width: 720px;
  height: 227px;
  left: 360px;
  top: 291px;
  font-weight: bold;
  color: #ffffff;
  font-size: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
}

#subtituloWelcome {
  clear: both;
  width: 773px;
  height: 129px;
  left: calc(50% - 773px / 2 - 0.5px);
  top: calc(50% - 129px / 2 + 85.5px);
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
}

#botaoWelcome {
  clear: both;
  width: 381px;
  height: 72px;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 91px;
}

#planos {
  clear: both;
  height: 100vh;
  width: 100vw;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: radial-gradient(
    94.34% 123.01% at 97.29% 99.1%,
    #e01f27 0%,
    rgba(0, 0, 0, 0.87) 100%
  );
}

#tituloPlanos {
  clear: both;
  margin: 2vh 0 4vh 5vw;
  font-weight: 500;
  font-size: 45px;
  color: #ffffff;
}

#boxes {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-around;
}

#easy {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 300px;
  background: #ffffff;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

#tituloEasy {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 240px;
  font-weight: 500;
  font-size: 35px;
  color: #ac181d;
}

#subtituloEasy {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 150px;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  color: #e01f25;
}

#descricaoEasy {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 200px;
  font-size: 15px;
  line-height: 20px;
  color: #e01f25;
}

#botaoEasy {
  clear: both;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 177px;
  height: 33.45px;
  font-size: 20px;
  color: #ffffff;
  background: #e01f25;
  box-shadow: 1.8px 1.8px 1.8px rgba(0, 0, 0, 0.25);
  border-radius: 42.3px;
  margin-bottom: 20px;
}

#hard {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 300px;
  background: #ffffff;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

#tituloHard {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 240px;
  font-weight: 500;
  font-size: 35px;
  color: #ac181d;
}

#subtituloHard {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 150px;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  color: #e01f25;
}

#descricaoHard {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 200px;
  font-size: 15px;
  line-height: 20px;
  color: #e01f25;
}

#botaoHard {
  clear: both;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 177px;
  height: 33.45px;
  font-size: 20px;
  color: #ffffff;
  background: #e01f25;
  box-shadow: 1.85827px 1.85827px 1.85827px rgba(0, 0, 0, 0.25);
  border-radius: 42.2756px;
  margin-bottom: 20px;
}

#custom {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 300px;
  background: #ffffff;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

#tituloCustom {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 240px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #ac181d;
}

#subtituloCustom {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 150px;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  color: #e01f25;
}

#descricaoCustom {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 200px;
  font-size: 15px;
  line-height: 20px;
  color: #e01f25;
}

#botaoCustom {
  clear: both;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 177px;
  height: 33.45px;
  font-size: 20px;
  color: #ffffff;
  background: #e01f25;
  box-shadow: 1.85827px 1.85827px 1.85827px rgba(0, 0, 0, 0.25);
  border-radius: 42.2756px;
  margin-bottom: 20px;
}

#linhaProcesso {
  clear: both;
  height: 25vh;
  padding-top: 5vh;
  justify-content: space-between;
}

#form {
  clear: both;
  height: 60vh;
  width: 100vw;
  padding-top: 10vh;
  background: radial-gradient(
    95.59% 257.93% at 97.95% 1.96%,
    #e01f27 0%,
    rgba(0, 0, 0, 0.87) 100%
  );
  display: flex;
  flex-direction: column;
}

.linha {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

#titulos,
#campos {
  clear: both;
  padding-left: 5vw;
}

#tituloForm {
  clear: both;
  width: 400px;
  padding-top: 5vh;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #ffffff;
}

#subtituloForm {
  clear: both;
  width: 291px;
  height: 27px;
  left: 107px;
  top: 255px;
  font-size: 21px;
  line-height: 27px;
  color: #ffffff;
}

#nome,
#email,
#mensagem,
input[type="text"],
input:focus {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  box-sizing: border-box;
  width: 25vw;
  margin: 5vh 2.5vw 0 2.5vw;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.85);
}

::placeholder {
  color: rgba(255, 255, 255, 0.85);
}
::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.85);
}
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}
:-moz-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

#botaoForm {
  width: 170px;
  height: 40px;
  font-weight: 450;
  font-size: 16px;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(270.12deg, #ca9696 0.03%, #e01f27 99.97%);
  box-shadow: 3.58621px 3.58621px 3.58621px rgba(0, 0, 0, 0.25);
  border-radius: 32.2759px;
  margin-top: 5vh;
  margin-left: 20vw;
}

#linhaContatos {
  align-self: center;
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
}

#endereco,
#telefone,
#mail {
  box-sizing: border-box;
  padding: 5vh 2.5vw 0 2.5vw;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.0516em;
  font-feature-settings: "kern" off;
  color: rgba(255, 255, 255, 0.85);
}

@media (max-width: 414px) {
  .grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 1em;
  }
}

footer {
  clear: both;
  width: 100vw;
  height: 40vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#logoYD {
  padding: 3vh 0 0 2vw;
  width: 300px;
}

#fazemos,
#fizemos,
#somos {
  color: #ffffff;
  font-size: 15px;
  box-sizing: border-box;
  margin: 5vh 2.5vw 0 2.5vw;
}

#botaoFooter {
  clear: both;
  width: 140px;
  height: 40px;
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
  margin: 5vh 2.5vw 0 2.5vw;
  background: #ffffff;
  color: black;
  border-radius: 6px;
}

#hr {
  margin: 0;
  padding: 0;
}

#eqpB {
  font-size: 15px;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 5vw;
  flex: 4;
}

#siga {
  font-size: 15px;
  flex: 0.5;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.8);
}

.icons {
  margin-right: 5vw;
  height: 45px;
}

.linha2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-content: center;
}
