* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: 100vw 100vh;
  font-family: "Rubik", sans-serif;
  font-size: 0.75em;
  overflow-x: hidden;
} 

@media (min-width: 320px) {
  body {
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 2em;
  }
}

header {
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed; /* relative */
  top: 0;
  z-index: 1;
}

.menu ul {
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 5vw;
  /* alterações */
  position: relative;
  z-index: 3;
}

.menu li{
  padding: 10px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  padding: 5px;
  color: #ffffffff;
  font-size: 0.7em;
}

.menu a:hover {
  text-decoration: underline;
  z-index: 5;
}

#logo {
  width: auto;
  height: 7vh;
  justify-self: flex-start;
  margin-left: 5px;
}

main {
  clear: both;
  display: flex;
  flex-direction: column;
}

#welcome {
  clear: both;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(129.49% 147.55% at 109.72% 223.94%, #E01F27 24.26%, rgba(0, 0, 0, 0.87) 100%);
  /* alterações */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#tituloWelcome {
  clear: both;
  width: 720px;
  height: 227px;
  left: 360px;
  top: 291px;
  font-weight: bold;
  color: #FFFFFF;
  /* alterações */
  font-size: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
}

#subtituloWelcome {
  clear: both;
  width: 773px;
  height: 129px;
  left: calc(50% - 773px/2 - 0.5px);
  top: calc(50% - 129px/2 + 85.5px);
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
}

#botaoWelcome {
  clear: both;
  width: 381px;
  height: 72px;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 91px;
}

#planos {
  clear: both;
  height: 100vh;
  width: 100vw;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: radial-gradient(94.34% 123.01% at 97.29% 99.1%, #E01F27 0%, rgba(0, 0, 0, 0.87) 100%);
}

#tituloPlanos {
  clear: both;
  margin: 2vh 0 4vh 5vw;
  font-weight: 500;
  font-size: 45px;
  color: #FFFFFF;
}

#boxes {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-around;
}

#easy {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 300px;
  background: #FFFFFF;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

#tituloEasy {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 240px;
  font-weight: 500;
  font-size: 35px;
  color: #AC181D;
}

#subtituloEasy {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 150px;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  color: #E01F25;
}

#descricaoEasy {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 200px;
  font-size: 15px;
  line-height: 20px;
  color: #E01F25;
}

#botaoEasy {
  clear: both;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 177px;
  height: 33.45px;
  font-size: 20px;
  color: #FFFFFF;
  background: #E01F25;
  box-shadow: 1.8px 1.8px 1.8px rgba(0, 0, 0, 0.25);
  border-radius: 42.3px;
  margin-bottom: 20px;
}

#hard {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 300px;
  background: #FFFFFF;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

#tituloHard {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 240px;
  font-weight: 500;
  font-size: 35px;
  color: #AC181D;
}

#subtituloHard {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 150px;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  color: #E01F25;
}

#descricaoHard {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 200px;
  font-size: 15px;
  line-height: 20px;
  color: #E01F25;
}

#botaoHard {
  clear: both;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 177px;
  height: 33.45px;
  font-size: 20px;
  color: #FFFFFF;
  background: #E01F25;
  box-shadow: 1.85827px 1.85827px 1.85827px rgba(0, 0, 0, 0.25);
  border-radius: 42.2756px;
  margin-bottom: 20px;
}

#custom {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 300px;
  background: #FFFFFF;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

#tituloCustom {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 240px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #AC181D;
}

#subtituloCustom {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 150px;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  color: #E01F25;
}

#descricaoCustom {
  clear: both;
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 200px;
  font-size: 15px;
  line-height: 20px;
  color: #E01F25;
}

#botaoCustom {
  clear: both;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 177px;
  height: 33.45px;
  font-size: 20px;
  color: #FFFFFF;
  background: #E01F25;
  box-shadow: 1.85827px 1.85827px 1.85827px rgba(0, 0, 0, 0.25);
  border-radius: 42.2756px;
  margin-bottom: 20px;
}

#linhaProcesso {
  clear: both;
  height: 25vh;
  padding-top: 5vh;
  justify-content: space-between;
}

#form {
  clear: both;
  height: 50vh;
  width: 100vw;
  padding-top: 10vh;
  background: radial-gradient(95.59% 257.93% at 97.95% 1.96%, #E01F27 0%, rgba(0, 0, 0, 0.87) 100%);
  display: flex;
  flex-direction: column;
}

#row {
  display: flex;
  flex-direction: row;
}

#titulos {
  clear: both;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

#tituloForm {
  clear: both;
  width: 400px;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #FFFFFF;
}

#subtituloForm {
  clear: both;
  width: 291px;
  height: 27px;
  left: 107px;
  top: 255px;
  font-size: 21px;
  line-height: 27px;
  color: #FFFFFF;
}

#campos {
  clear: both;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}
#nome {
  font-size: 12px;
}

#email {
  font-size: 12px;
}

#mensage {
  font-size: 12px;
}

#botaoForm {
  left: 78.4%;
  right: 9.93%;
  top: 50.36%;
  bottom: 42.68%;
  background: linear-gradient(270.12deg, #CA9696 0.03%, #E01F27 99.97%);
  box-shadow: 3.58621px 3.58621px 3.58621px rgba(0, 0, 0, 0.25);
  border-radius: 32.2759px;
}

#linhaContatos {
  flex-direction: row;
  padding: 10px 0px;
}

#endereco {
  left: 21.39%;
  right: 53.54%;
  top: 76.96%;
  bottom: 16.07%;
}

#telefone {
  width: 132px;
  height: 39px;
  left: 725px;
  top: 431px;
}

#mail {
  left: 63.4%;
  right: 21.39%;
  top: 76.96%;
  bottom: 16.07%;
}

@media (max-width: 414px) {
  .grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 1em;
  }
}

.icons {
  width: 0vw;
  margin-left: 49vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.siga {
  display: flex;
}

footer {
  clear: both;
  position: absolute;
  width: 100vw;
  height: 50vw;
  left: 0px;
  top: 2440px;
  /* height: 50vh;
  padding: 100vw; */
  background-color: pink;
}

#logoYD {
  clear: both;
  width: auto;
  height: 7vh;
  margin-left: 5px;
}